# Python caches
__pycache__/
*.py[cod]
*$py.class

# Node / NPM packages
node_modules/
package-lock.json
package.json

# Environments
.env
.venv
env/
venv/
ENV/

# IDE / Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Media / OS files
.DS_Store
Thumbs.db
linkdin.png
